@import "variables"

*
	box-sizing border-box
	-webkit-font-smoothing antialiased

body
	margin 0
	font-family contentFont
	font-weight 700

p, li
	line-height 1.5
.container
	max-width 1000px
	margin 0 auto
	padding 0 1em
	
	h1
		background brandColor
		font-family titleFont
		color white
		padding 1em
		font-weight 700
		
	@media(max-width medium)
		max-width 46em
	@media(max-width large)
		max-width 60em
	@media(min-width large)
		max-width 73em
header
	background bgColor
	
	.container
		display flex
		justify-content space-between
		align-items center
nav
	ul
		display flex
		list-style none
	
		li
			margin-left 2em
		a
			text-decoration none
			color fgColor
			padding 1em 2em
			font-weight 700
		
			&:hover
				color lighten(fgColor, 50%)
				transition color 0.5s

.jumbotron
	width 100%
	height 600px
	background offsetColor
	font-style italic
	
	.wrapper
		display flex
		align-items center
		justify-content center
		height 100%
		width 100%
		text-align center
		margin 0 auto

		h1
			font-size 4em
			font-family titleFont
			color bgColor


/* Hover Effect */

.hvr-line
	display inline-block
	vertical-align middle
	-webkit-transform translateZ(0)
	transform translateZ(0)
	box-shadow 0 0 1px rgba(0, 0, 0, 0)
	backface-visibility hidden
	position relative
	overflow hidden

.hvr-line:before 
	content ""
	position absolute
	z-index -1
	left 0
	right 100%
	bottom 0
	background lighten(offsetColor, 30%)
	height 3px
	transition-property right
	transition-duration 0.33s
	transition-timing-function ease-out

.hvr-line:hover:before, .hvr-line:focus:before, .hvr-line:active:before
	right 0
