*
	box-sizing border-box
body
	margin 0
	font-family Helvetica, sans-serif
p, li
	line-height 1.5
.container
	margin 0 auto
	padding 0 1em
	
	@media(max-width medium)
		max-width 46em
	@media(max-width large)
		max-width 60em
	@media(min-width large)
		max-width 73em
header
	
	.container
		display flex
		justify-content space-between
		align-items center