// Break Points
small  = 48em
medium = 62em
large  = 75em


// Colors
bgColor    = #fff
brandColor = #000
fgColor    = #FFC0A9

// Fonts
titleFont   = 'PT Sans Narrow', sans-serif
contentFont = 'PT Sans', sans-serif

