@import "variables"

*
	box-sizing border-box
	-webkit-font-smoothing antialiased

body
	font-family contentFont
	font-weight 700
	background-image url('../images/burger.png') 
	background-size 140px
	width 100%
	height auto
p, li
	line-height 1.5
.container
	max-width 960px
	margin 0 auto
	padding 1em
		
	@media(max-width medium)
		max-width 46em
	@media(max-width large)
		max-width 60em
	@media(min-width large)
		max-width 73em
		
	@media(max-width small)
		flex-direction column
		padding 0
		margin 0 auto
		display flex
		align-items center
		justify-content center
header
	display flex
	flex-direction row
	
	@media(max-width small)
		margin-bottom 0.5em
	
.logo-bar
	position fixed
	.logo
		padding 1em

		background brandColor
		color bgColor
		font-size 1.5em
		
		h1
			font-family titleFont
			font-weight 700
			letter-spacing 2px
		@media(max-width small)
			flex 1
			width 100%
	.bar-btm
		padding 1em
		width 244px

		background bgColor
		color fgColor
		
		@media(max-width small)
			flex 1
			width 100%
		
	@media(max-width small)
		position static
.location-container
	display flex
	flex-direction column
	
	max-width 960px
	padding-left 25em
	
	@media(max-width small)
		padding 0
		display flex
		width 100%
		align-items center
		justify-content center

.preloader-container, 
.noresults-container
	width 500px
	background rgba(bgColor, 95%)
	
	#preloader, #no-results
		padding 3em
		
		h1
			letter-spacing 1.5px
		h2
			letter-spacing 1px	
		@media(max-width small)
			flex 1
			width 100%
#location-link
	display block
	text-decoration none
a#location-link
	width 400px
	height auto
.location-results
	display flex
	background rgba(bgColor, 95%)
	color fgColor
	
	margin-bottom 1.5em
	width 500px
	
	display none
	
	@media(max-width small)
		display flex
		flex 1
		width 100%
		margin-bottom 0.5em
.location-results:hover
	transition background-color 1s
	background brandColor
	color bgColor
#results
	padding 1em
	h1
		letter-spacing 1.5px
	h2
		letter-spacing 1px

#location-distance
	display flex
	padding-left 25em
	margin-top -1.7em
	
	@media (max-width small)
		padding-left 15em
		margin-top -1.7em
#arrow, 
#norating, 
#face
	font-size 24px