// Break Points
small  = 48em
medium = 62em
large  = 75em


// Colors
bgColor     = #fff
brandColor  = #FFC0A9
fgColor     = #000

// Fonts
titleFont   = 'PT Sans Narrow', sans-serif
contentFont = 'PT Sans', sans-serif

